.main .main__container .container__top .img__pic {
  width: 100%;
  height: auto;
}

.main .main__container .section__text, .main .main__container .container__section--work .section__work .work__card, .main .main__container .container__section--work .section__work, .main .main__container .container__section--certificates .section__certificates, .main .main__container .container__section--study .section__study, .main .main__container .about, .main .main__container .container__section--languages .section__languages, .main .main__container .container__section--skills .section__skills, .main .main__container .contact, .main .main__container .container__top .top__text {
  display: flex;
  flex-direction: column;
}

.main .main__container .container__section--certificates .section__certificates .text__bottom .bottom__btn {
  color: #1774EC;
  padding: 0.3rem 1rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #1774EC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main .main__container .container__section--work .section__work .work__card .card__text .text__date, .main .main__container .container__section--study .section__study .section__info .info__years, .main .main__container .container__section--skills .section__skills .section__set .set__element {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1774EC;
  color: #1774EC;
  padding: 0.4rem 0.8rem;
  max-width: auto;
  border-radius: 20px;
}

.main {
  background-color: #999BA0;
  display: flex;
  justify-content: center;
}
.main .main__container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: white;
  max-width: 1400px;
  margin: 0 2rem;
  display: grid;
  column-gap: 6rem;
  row-gap: 2rem;
  grid-template-areas: ". top top ." ". contact education ." ". skills certificates ." ". languages certificates ." ". about certificates ." ". . work .";
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-auto-rows: min-content;
}
.main .main__container .container__top {
  background-color: white;
  grid-area: top;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14rem;
  align-items: center;
  padding-bottom: 2rem;
}
.main .main__container .container__top .img__pic {
  max-width: 12rem;
  border-radius: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
.main .main__container .container__top .top__text {
  gap: 1rem;
}
.main .main__container .container__top .top__text .text__title {
  font-size: 40px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  max-width: 25rem;
}
.main .main__container .container__top .top__text .text__subtitle {
  font-size: 24px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}
.main .main__container .contact {
  grid-area: contact;
  gap: 1rem;
}
.main .main__container .contact .section__element {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main .main__container .container__section--skills {
  grid-area: skills;
}
.main .main__container .container__section--skills .section__skills {
  gap: 1rem;
}
.main .main__container .container__section--skills .section__skills .section__set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}
.main .main__container .container__section--skills .section__skills .section__set .set__element {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}
.main .main__container .container__section--languages {
  grid-area: languages;
}
.main .main__container .container__section--languages .section__languages {
  gap: 1rem;
}
.main .main__container .about {
  grid-area: about;
  gap: 1rem;
}
.main .main__container .container__section--study {
  grid-area: education;
}
.main .main__container .container__section--study .section__study {
  gap: 1rem;
}
.main .main__container .container__section--study .section__study .section__info {
  display: flex;
  align-items: center;
}
.main .main__container .container__section--study .section__study .section__info .info__years {
  font-size: 14px;
}
.main .main__container .container__section--study .section__study .text__education__institution {
  color: #999BA0;
}
.main .main__container .container__section--certificates {
  grid-area: certificates;
}
.main .main__container .container__section--certificates .section__certificates {
  gap: 1rem;
}
.main .main__container .container__section--certificates .section__certificates .text__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main__container .container__section--certificates .section__certificates .text__bottom .bottom__text {
  font-weight: 400;
}
.main .main__container .container__section--certificates .section__certificates .text__bottom .bottom__btn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.main .main__container .container__section--work {
  grid-area: work;
}
.main .main__container .container__section--work .section__work {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  gap: 1rem;
}
.main .main__container .container__section--work .section__work .work__card {
  gap: 0.5rem;
}
.main .main__container .container__section--work .section__work .work__card .card__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .main__container .container__section--work .section__work .work__card .card__text .text__date {
  font-size: 14px;
}
.main .main__container .container__section--work .section__work .card__middle {
  font-weight: 400;
}
.main .main__container .container__section--work .section__work .card__bottom {
  color: #999BA0;
}
.main .main__container .section__title {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  color: #1774EC;
}
.main .main__container .section__text {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  gap: 0.5rem;
}
.main .main__container .section__text .section__info {
  display: flex;
  justify-content: space-between;
}
.main .main__container .section__top {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.main .main__container .icon {
  max-width: 2rem;
}
.main .main__container .accordion {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .main .main__container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: 0 1rem;
    row-gap: 4rem;
    grid-template-areas: "top top" "contact education" "skills certificates" "languages certificates" "about certificates" "work";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content min-content;
    grid-auto-rows: min-content;
  }
}
@media only screen and (max-width: 970px) {
  .main .main__container {
    padding: 3rem 4rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  .main .main__container .container__top {
    gap: 6rem;
    padding-bottom: 1rem;
  }
  .main .main__container .container__top .img__pic {
    max-width: 9rem;
  }
  .main .main__container .study {
    gap: 1.5rem;
  }
  .main .main__container .certificates {
    gap: 1.5rem;
  }
}
@media only screen and (max-width: 760px) {
  .main .main__container {
    padding: 3rem 5rem;
  }
  .main .main__container .container__top .top__text .text__title {
    font-size: 30px;
  }
  .main .main__container .container__top .top__text .text__subtitle {
    font-size: 20px;
  }
}
@media only screen and (max-width: 640px) {
  .main .main__container {
    padding: 3rem 1rem;
    column-gap: 0;
    grid-template-areas: "top" "contact" "education" "certificates" "skills" "languages" "work" "about";
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
  }
  .main .main__container .container__top {
    gap: 2rem;
    padding-bottom: 1rem;
  }
  .main .main__container .container__top .img__pic {
    max-width: 9rem;
  }
  .main .main__container .container__top .top__text .text__title {
    font-size: 25px;
  }
  .main .main__container .container__top .top__text .text__subtitle {
    font-size: 18px;
  }
  .main .main__container .study .section__info .info__years {
    font-size: 14px;
  }
  .main .main__container .work .section__work .work__text .text__date {
    font-size: 14px;
  }
  .main .main__container .accordion {
    display: block;
    padding: 18px;
    text-align: center;
    transition: 0.5s;
    color: #1774EC;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #1774EC;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
  }
  .main .main__container .hide {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
}
@media only screen and (max-width: 350px) {
  .main .main__container .skills .section__set {
    grid-template-columns: 1fr 1fr;
  }
  .main .main__container .container__top {
    gap: 2rem;
    padding-bottom: 1rem;
  }
  .main .main__container .container__top .top__text {
    gap: 0.5rem;
  }
  .main .main__container .container__top .top__text .text__title {
    font-size: 20px;
  }
  .main .main__container .container__top .top__text .text__subtitle {
    font-size: 18px;
  }
  .main .main__container .certificates .text__bottom .bottom__btn {
    padding: 0.2rem 0.4rem;
  }
}

/*# sourceMappingURL=styles.css.map */
